main{
    grid-area: principal;

    display: grid;
    /*overflow:auto Permite que el pie de página se pegue al fondo y la barra de desplazamiento afecte sólo al contenido. Si se quita, el pie de paǵina se oculta y hay que mover la barra de desplazamiento*/
    overflow: auto;
    //La única fila ocupa todo el ancho y 900px de alto (igual que la imagen)


    //Tamaño para una pantalla de menos de 500px
    grid-template-rows: 330px 1fr;
    grid-template-areas: 'grid-imagen' 'grid-texto';
    align-items: center;


    @include mixin_media_query(min, pequeño) {
        grid-template-rows: 447px 1fr;
    }

    @include mixin_media_query(min, mediano) {
        grid-template-rows: 675px 1fr;
    }

    @include mixin_media_query(min, grande) {
        grid-template-rows: 900px 1fr;
    }

    &>.contenedor_imagen_entrada{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
}

/*
.contenedor_texto_entrada{
    grid-area:grid-texto;
    background: url("../img/descenso_btt-800px.webp");

}*/